<ion-header>
  <ion-toolbar>
    <ion-title>prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primarioApp">

  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-img src="../../../assets/parqueadero.jpg" height = "50px"></ion-img>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="6">
        Horario <br>
        10am - 5pm
      </ion-col>
      <ion-col size="6">
        <i class="fa-solid fa-star-sharp"></i>
        <i class="fa-thin fa-star-sharp"></i>
        <i class="fa-light fa-star-sharp fa-2x"></i>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        Precio hora <br>
        $4.000
      </ion-col>
      <ion-col size="6">
        <i class="fas fa-car-side fa-1x "></i>
        <i class="fa-solid fa-bicycle fa-1x"></i>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button class="verde" expand="full" size="large"> 
          <p id="TextYaLlegue" class="animate__animated animate__bounceIn animate__fast">Ver mas</p> 
      </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>