<ion-header>
  <ion-toolbar color="primarioApp">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card">
    <div class="mt-5 bt-5 d-flex justify-content-center ">
      <app-logo-waka></app-logo-waka>
    </div>

    <ion-card-content>
      <form [formGroup]="pass">
        
        <ion-item class="border-abajo">
          <ion-label color="dark" position="floating">Contraseña:</ion-label>
          <ion-input class="text-white" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-label color="danger" *ngIf="pass.controls.password.errors?.pattern && (pass.touched || pass.dirty)">* La contraseña debe tener carácteres, mayusculas y números. </ion-label>


        <ion-item class="border-abajo">
          <ion-label color="dark" position="floating">Confirmación de contraseña:</ion-label>
          <ion-input class="text-white" type="password" formControlName="confirm_password"></ion-input>
        </ion-item>

        <ion-button class="mt-5 d-flex justify-content-center animate__animated animate__pulse animate__fast verde" size="large" type="submit" [disabled]="!pass.valid">
          <p class="p-0 m-0 animate__animated animate__bounceIn animate__fast tamaño-letra">Cambiar</p>
        </ion-button>
      </form>
    

    </ion-card-content>
  </ion-card>
</ion-content>
