
// Proyecto de formación SENA (WAKA)
// Descripción: codigo SCSS de la pagina registro = formulario crear una nueva cuenta .
 //?Autor:SamuelCanoRomero
 //Fecha de creación:/02/2022
 //Ultima fecha de modificación:17/03/2022
 


//modificar tamaño de letra
.tamaño-letra{
    font-size: 1rem;
}
//centrar la card en la pantalla celular y desktop, la cual contiene el formulario

  .card{
    background-color: #1e1e1e;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 39%;
    height: 700px;
    border: #ffffff67 solid 1px;
}

//modificando el tamaño del boton registro
.btn-registro{
  width: 100%;
}

//linea abajo de cada campo o input
.border-abajo{
    border-bottom: #ffffff81 solid 1px;
}
  
//texto aqui el cual resalta
#aqui{
    color: #2fdf75;
 }
 
 //efecto hover al texto aqui
 #aqui:hover{
     color: #2fdf75ab;
  }

//modificando el checbox de el formulario color 
  ion-checkbox{
    --border-color: rgb(255, 255, 255);
  --border-color-checked :rgb(255, 255, 255);
}

//responsive para cuando el ancho de la carda en pantalla de 1000px
@media (max-width: 1000px)
  {
    .card{
          width: 90%;
          
      }
  }
  
