
  // Proyecto de formación SENA (WAKA)
  //   Descripción: codigo SCSS de la pagina novedades = seleccionar un archi fotografico referente al automovil, esté se mostrara despues y antes de termiar la estadia.
  //   ?Autor:@SamuelCanoRomero
  //   Fecha de creación:/02/2022
  //   Ultima fecha de modificación:17/03/2022

  //modificando el tamaño y centrando en la pantalla el contenedor 
  .contenedor-parqueadero{
    width: 99%;
    margin: 0%;
    background-color: #050b18;
    padding: 13px;
    border-radius: 7px;
}

//modificando el tamaño del contenedor de la img
#img-parqueadero{
    height: 200px;
    object-fit: contain;
    width: 100%;
}