.contenedor-parqueadero{
    width: 99%;
    margin: 0%;
    background-color: #050b18;
    padding: 13px;
    border-radius: 7px;
}

#img-parqueadero{
    height: 200px;
    object-fit: contain;
    width: 100%;
}