<ion-header>
  <ion-toolbar>
    <app-menu></app-menu>
  </ion-toolbar>
</ion-header>


<ion-content color="light">

  <div>
    <ion-grid class="p-0">
      <ion-row>

        <ion-col size="12" size-md="6" class="p-1" *ngFor="let item of [1,1]">
          <ion-row class="contenedor-parqueadero">
            <ion-col size="6" class="pe-3">
              <img id="img-parqueadero" src="../../../assets/parqueadero.jpg" alt="">
            </ion-col>
            <ion-col size="6">
              <h2>El vehiculo llego con unos rayones en la parte trasera de la llanta izquierda.</h2> <br>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>


</ion-content>