<app-menu></app-menu>

<ion-content>
    <ion-grid class="contenedorAzulPrincipal heightConteiner centrar-contenedores p-0 m-0">

        <ion-row class="width100 centrarVertText">

            <ion-col size=12 size-sm="4" class="p-3 centrar-contenedores animate__animated animate__fadeInLeft">
                <img src="https://storage.googleapis.com/media.clinicavisualyauditiva.com/images/2019/11/211fd983-default-user-image.png" class="imagenPerfil" />
            </ion-col>

            <ion-col size=12 size-sm="4" class="p-2 animate__animated animate__fadeInRight">

                <p class="fs-4">Dueño</p>
                <p class="fs-5 mb-4">Pepito Perez Orjuela</p>

                <p class="fs-4">porario</p>
                <p class="fs-5 mb-4">10am - 4pm</p>

                <p class="fs-4">Direccion</p>
                <p class="fs-5 mb-4">Crr 9 #9-23</p>

            </ion-col>

            <ion-col size=12 size-sm="4" class="p-2 animate__animated animate__fadeInRight">

                <p class="fs-4">Tipo De Vepiculo</p>
                <p class="fs-5 mb-4">djksdajsdks</p>

                <p class="fs-4">Espacio</p>
                <p class="fs-5 mb-4">30m2</p>

                <p class="fs-4">Salir</p>
                <p class="fs-5 mb-4">
                    <ion-button color="segundarioApp">
                        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
                    </ion-button>
                </p>

            </ion-col>

        </ion-row>

    </ion-grid>

</ion-content>