p {
    margin-bottom: 1px;
}

.borederRadius4{
    border-radius: 11px;
}


.referenciaPosicion{
    position:relative;
}
.posicionAbajo{
   position:absolute;
   bottom:0px;
   width: 100%;
   
}

.posicionArriba{
    position:absolute;
    top:0px;
    width: 100%;
    
}

#btn-eliminar{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 12px;
}
#btn-cambiarimg{
    border: 1px solid #ccc;
    height: 38px;
    display: inline-block;
    padding: 7px 13px;
    cursor: pointer;
    margin-left: 12px;
}


input[type="file"] {
    display: none;
}

 .centrar-contenedores{
    display:flex;
    justify-content: center;
    align-items: center;
}
 
 .objet-cover{
     object-fit: cover;
     
}



.btn-salir{
    background-color: yellow;
    color: yellowgreen;
}
 

.centrarVertText{
    display: flex;
    align-items: center;

}

.width100{
width: 100%;
}

 .imagenPerfil{
     width: 100%;
    border-radius: 400px;
 }

@media (min-width: 576px) {
    .heightConteiner {
      height: 100%;
    }
  }

.dueño{
    background-color: #050B18;
    color: white;
}