<app-menu></app-menu>

<ion-content>
    <ion-grid class="contenedorAzulPrincipal heightConteiner centrar-contenedores p-0 m-0">

        <ion-row class="width100 centrarVertText">

            <ion-col size=12 size-sm="4" class="p-3 centrar-contenedores animate__animated animate__fadeInLeft">
                <img src="{{ this.img }}" class="imagenPerfil" />
            </ion-col>
         
            <ion-col size=12 size-sm="4" class="p-2 animate__animated animate__fadeInRight">

                <p class="fs-4">Dueño</p>
                <p class="fs-5 mb-4">{{ this.usuario.names }}</p>

                <p class="fs-4">Documento</p>
                <p class="fs-5 mb-4">{{ this.usuario.document }}</p>

                <p class="fs-4">Correo</p>
                <p class="fs-5 mb-4">{{ this.usuario.email_t.email  }}</p>


            </ion-col>

            <ion-col size=12 size-sm="4" class="p-2 animate__animated animate__fadeInRight">

                <p class="fs-5 mb-3">
                    <ion-button routerLink="/actualizarperfil"><p>Actualizar</p></ion-button>
                </p>

                <ion-button class="btn_alert mb-3" (click)="presentAlertCambiarPass()" color="success"  >
                    Cambiar contraseña 
                </ion-button> 

                <p class="fs-5 mb-3">
                    <ion-button color="segundarioApp" (click)="cerrarSesion()">
                        Salir
                        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
                    </ion-button>
                </p>

            </ion-col>
        
            <!--* campo para deshabilitar cuenta -->
            <ion-col size=12 size-sm="4" class="animate__animated animate__fadeInLeft">
                <!--* mensaje de recordatorio para 16 días de plazo (aparece despues de deshabiliar la cuenta) -->
                <ion-text color="warning" class="text-start">
                    <p>{{this.mssg}}</p>
                  </ion-text>         
                  <!--* boton para cliquear y mostrar la alerta de confirmacion-->
                  <ion-button class="btn_alert " (click)="presentAlertDesHabilitar()" color="success" expand="block" >
                    Deshabilitar la cuenta
                </ion-button> 
            </ion-col> 
                
        </ion-row>

    </ion-grid>

</ion-content>