#contenedor{
    position: relative;
    height: 100%;
}
#contenedorFormulario{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
}

.linea{
    background-color: rgba(255, 255, 255, 0.651);
    height: 1px;
}

.btnMas{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

#formulario{
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#cerrar{
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 25px;
    position: absolute;
    color: rgba(0, 0, 0, 0.583);
    font-size: 1.07cm;
    cursor: pointer;
}