.contenedor-parqueadero{
    width: 99%;
    margin: auto;
    background-color: #050b18;
    overflow: hidden;
    padding: 13px;
    border-radius: 7px;
}

#img-parqueadero{
    height: 200px;
    object-fit: contain;
    width: 100%;
}

#disponibilidad{
    background-color: red;
    padding: 5px;
    border-radius: 7px;
    text-align: center;
}

#btn-agregar{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: aqua;
    position: relative;
}

.btn-infoModal{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #050b18;
    color: rgb(255, 255, 255);
    margin-bottom: 9px;
    margin-right: 6px;
}

.agregar-parqueadero{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #050b18;
}

.div{
    --background: #1d58d8 !important;
    position: relative;
}