

<ion-header>
  <ion-toolbar color="primarioApp">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="card">
    <div class="mt-5 bt-5 d-flex justify-content-center ">
      <app-logo-waka></app-logo-waka>
    </div>

    <ion-card-content>
      <form [formGroup]="users" mode="md">
        <ion-item class="border-abajo">
          <ion-label color="dark" position="floating">Email:</ion-label>
          <ion-input class="text-white" formControlName="email"></ion-input>
        </ion-item>
        <ion-label color="danger" *ngIf="users.controls.email.errors?.pattern && (users.touched || users.dirty)">* El email no es válido. </ion-label>



        <ion-item class="border-abajo">
          <ion-label color="dark" position="floating">Contraseña:</ion-label>
          <ion-input class="text-white" type="password" formControlName="password"></ion-input>
        </ion-item>       

        <ion-button class="mt-5 d-flex justify-content-center animate__animated animate__pulse animate__fast verde" size="large" type="submit" [disabled]="!users.valid" (click)="Ingresar()">
          <p class="animate__animated animate__bounceIn animate__fast">Ingresar</p>
        </ion-button>
      </form>

      <div class="g-signin2" data-onsuccess="onSignIn"></div>

      <ion-button class="mb-4 mt-2 d-flex justify-content-center animate__animated animate__pulse animate__fast"
        color="light" size="large" (click)="onSignIn()" mode="md">
        <p id="text_icon" class="animate__animated animate__bounceIn animate__fast text-dark"><i
            class="fab fa-google me-2"></i>Ingresar con Google</p>
      </ion-button>

      <a routerLink="/tabs2/mis-parqueaderos">Entrar como PP :V</a>

        <h3 class="my-2 text-white text-center tamaño-letra">
          <a id="aqui" routerLink='/new-pass'>¿ Has olvidado tu contraseña ?</a>
        </h3>
    
      <h3 class="mb-4 text-white text-center">
        ¿ No tienes una cuenta ? crea <a id="aqui" routerLink='/registro'>aqui </a>
      </h3>
    </ion-card-content>
  </ion-card>
</ion-content>
