//dandole pisicion al contenedor padre y una alto
#contenedor{
    position: relative;
    height: 100%;
}

//dandole un position al hijo y tamaños
#contenedorFormulario{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
}

//dandole tamaño a la card junto con centrandolo
.card{
    background-color: #050b19;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 39%;
    height: 700px;
box-shadow: RGBA(5, 11, 25, 5);
}

//dandole un color a la linea que divide los campos
.linea{
    background-color: rgba(255, 255, 255, 0.651);
    height: 1px;
}