<app-menu></app-menu>

<ion-content color="light">
    <ion-grid>
        <ion-row >
            <ion-col size="12" size-sm="6" size-md="6" class="animate__animated animate__zoomIn animate__faste mx-auto pb-1 pt-0"  *ngFor="let item of [1,1,1]">

                <ion-row class="p-2 border-radius contenedorAzulPrincipal referenciaPosicion">

                    <ion-col>
                        <img src="../../../assets/parqueadero.jpg" class="border-radius-img" />
                    </ion-col>

                    <ion-col>
                        <ion-row class="posicionArriba">
                            <ion-col>
                                Lleva 1h y 21min
                                <br>
                                $5.400
                            </ion-col>
                        </ion-row>

                        <ion-row class="posicionAbajo">
                            <ion-col>
                                <app-modal></app-modal>
                                <app-modal-calificar></app-modal-calificar>
                            </ion-col>
                        </ion-row>

                    </ion-col>

                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>