.border-radius{
    border-radius: 11px;
}

.border-radius-img{
    border: 8;
}

.referenciaPosicion{
    position:relative;
}
.posicionAbajo{
   position:absolute;
   bottom:0px;
   width: 100%;
   
}

.posicionArriba{
    position:absolute;
    top:0px;
    width: 100%;
    
}




