.border-radius-top{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

#NoHayPar{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#mensajeNoHayPar{
    text-align: center;
    width: 100%;
    color: black;
}

.border-radius-bottom{
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.border-radius-img{
    border: 8;
}

.referenciaPosicion{
    position:relative;
}
.posicionAbajo{
   position:absolute;
   bottom:0px;
   width: 100%;
   padding-bottom: 15px;
   padding-right: 15px;
   
}

.posicionArriba{
    position:absolute;
    top:0px;
    margin-top: 5%;
    width: 100%;
    
}

#contenedor-card{
    height: 290px;
    position: relative;
}

#img-parqueadero{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    padding: 10px;
}

#contenedor-img{
    position: relative;
    background-color: rgba(255, 255, 255, 0.021);
}
#tiempo-btns{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}


