<app-menu></app-menu>

<ion-content color="light">
    <ion-grid *ngIf="id_parqueadero === true">
        <ion-row>
            <ion-col size="12" size-sm="9" size-md="6" size-lg="5" class="animate__animated animate__zoomIn animate__faste mx-auto pb-1 pt-0" *ngFor="let reserva of reservas">

                <ion-row  class="p-2 border-radius-top contenedorAzulPrincipal">
                    <ion-col size="12" class="text-center">
                        <h3 class="m-0 mt-2">{{reserva.id_park.address}}</h3>
                    </ion-col>
                  
                </ion-row>

                <ion-row id="contenedor-card" class="p-2 border-radius-bottom contenedorAzulPrincipal referenciaPosicion">

                    <ion-col id="contenedor-img">
                        <img src="../../../assets/parqueadero.jpg" class="border-radius-img" id="img-parqueadero" />
                    </ion-col>

                    <ion-col>

                        <div id="contenedor-tiempo">
                            <ion-row>
                                <ion-col>
                                    Lleva {{this.time_reserva}} Hora
                                </ion-col>
                            </ion-row>
    
                            <ion-row class="posicionAbajo">
                                <ion-col>
                                    <ion-button routerLink="/novedades" expand="block" color="primary">
                                        Novedades
                                    </ion-button>

                                    <ion-button *ngIf="reserva.status.on_route === false && reserva.status.global_status === true" color="celeste2" expand="block"  (click)="verPago(reserva._id, reserva.id_park.price)" >Monto a pagar</ion-button>
                                    <ion-button *ngIf="reserva.status.on_route === true && reserva.status.global_status === true" disabled="true" expand="block"  >Monto a pagar</ion-button>

                                    <app-modal-calificar [id_parq]="reserva.id_park._id" ></app-modal-calificar>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-col>

                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>

    <div id="NoHayPar" *ngIf="id_parqueadero === false">
        <h3 id="mensajeNoHayPar" class="animate__animated animate__zoomIn animate__faste">Parece que no has reservado ningun parqueadero</h3>
    </div>

</ion-content>