<!--
  Proyecto de formación SENA (WAKA)
    Descripción: codigo HTML del Componente calificar = seleccionar una calificación, esté se mostrara despues de terminar la estadia en el parqueadero (lo visualiza el rol BP).
    ?Autor:@SamuelCanoRomero
    Fecha de creación:/02/2022
    Ultima fecha de modificación:17/03/2022
-->

<!--* boton el cual se puede reutilizar en caso de ser requerido, hace llamado al modal en typescript-->
<ion-button class="verde" expand="block" (click)="calificar()"> 
  Calificar
</ion-button>
