<ion-tabs>

  <ion-tab-bar slot="bottom" color="primarioApp">

    <ion-tab-button tab="mapa">
      <i class="fas fa-map-marked-alt fa-2x"></i>
      <!--<ion-label>mapa</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="info-parqueadero">
      <i class="fas fa-parking fa-2x"></i>
     <!--<ion-label>parqueadero</ion-label>--> 
    </ion-tab-button>

    <ion-tab-button tab="recibo">
      <i class="fas fa-money-check-alt fa-2x"></i>
      <!--<ion-label>recibo</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <i class="fas fa-user fa-2x"></i>
      <!--<ion-label>user</ion-label>-->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>