<ion-header>
</ion-header>

<ion-content color="segundarioApp">
  <form id="formulario">
    <ion-item class="border-abajo texto-formulario" color="segundarioApp">
      <ion-label color="primarioApp" position="floating">Modelo de vehiculo</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item class="border-abajo" color="segundarioApp">
      <ion-label color="primarioApp" position="floating">Color</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item class="border-abajo" color="segundarioApp">
      <ion-label color="primarioApp" position="floating">Placa</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-button class="animate__animated animate__pulse animate__fast mt-5 d-flex justify-content-center verde" expand="block" size="large">
      <p class="p-0 m-0 animate__animated animate__bounceIn animate__fast tamaño-letra">Registrar vehiculo</p>
    </ion-button>
    
  </form>
</ion-content>
