<ion-content color="segundarioApp">

  <h2 class="mx-4">WAKA Términos y condiciones <i id="cerrar" (click)="dismiss()" class="fa-solid fa-xmark"></i>
  </h2>
  <hr>

  <ion-grid m-3 p-5>
    <ion-row >

      <ion-col size="12" class="ion-padding">
        <h1>En WAKA implementamos funciones donde todo usuario <b>registrado</b>:</h1>

          <ul>
            <li>WAKA requiere acceso a internet</li>
            <li>Se maneja información sensible del usuario registrado (nombres, id, número de teléfono y fotos).</li>
            <li>Se implementa la geolocalización: ubicaciones datos como la latitud y longitud en tiempo real.</li>
            <li>Se utiliza información del bien (automóvil/parqueadero) datos como: nomenclatura, ubicación placa,
              fotos.</li>
            <li>Permitir que WAKA tenga la ubicación dl dispositivo en tiempo real.</li>
            </ul>
      </ion-col>

    </ion-row>
    <hr>
    <ion-row >

      <ion-col size="12" class="ion-padding">

        <h2>WAKA S.A <b>NO</b> se hara cargo o responsable frente a posibles mal manejo de la aplicacion WAKA:</h2>
        <h5><small>-Lea detalladamente y atentamente esta información la cual es importantes-</small></h5>

   
          <ul>
            <li>Caso de terrorismo por ubicación de la casa.</li>
            <li>Falsificación de cuentas.</li>
            <li>Robo del servicio o de un automóvil.</li>
            <li>Daños al bien(carro/vehículo) que no estén evidenciados fotográficamente.</li>
          </ul>
       
      </ion-col>

    </ion-row>
    <hr>
    <ion-row >
      <ion-col size="12" class="ion-padding">
        <p>He leído y Acepto las condiciones del servicio y la política de WAKA.</p>
        <h5><small>-Acepta los terminos y condiciones para usar WAKA.-</small></h5>
        <ion-button  (click)="dismiss()" color="success">Continuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>