<ion-header>
</ion-header>

<ion-content>
  <div id="contenedor">
    <div id="contenedorRol">
      <ion-item color="primarioApp">
        <ion-label>¿ Para que vas a usar waka ?</ion-label>
        <ion-select class="option" interface="popover">
          <ion-select-option class="option" value="B">Buscar parqueadero </ion-select-option>
          <ion-select-option class="option" value="P">Publicar un parqueadero</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="linea"></div>
    </div>
  </div>
  
</ion-content>