#map{
    height: 100%;
    width: 100%;
}

#TextYaLlegue{
    padding: 0%;
    margin: 0%;
}

.map{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.abajo{
    float: bottom;
}

.btn-infoModal{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 7px;
    margin-bottom: 70px;
}

 .my-class{
   display: none;
}

