<app-menu></app-menu>

<ion-content color="segundarioApp">

  <div id="cont-date">
    <input type="date" id="start" name="trip-start" [value]="this.fecha">
    <input type="date" id="end" name="trip-start" [value]="this.fecha">
  </div>

  <div class="contenedor-grafica">
    <canvas id="chart-line"></canvas>
  </div>

  <hr>

  <div class="contenedor-grafica">
    <canvas id="chart-doughnut"></canvas>
  </div>

  <hr>

  <div class="contenedor-grafica margin-bott">
    <canvas id="chart-circle"></canvas>
  </div>



  <ion-button id="contenedor-ingresos" expand="full" size="large" class="fixed-bottom m-0 p-0 verde">
    <h4 class="d-inline izquierda-text">INGRESO</h4>
    <h4 class="d-inline derecha-text">800.000</h4>
  </ion-button>

</ion-content>