<ion-header>
  <ion-toolbar color="primarioApp">
    <app-menu></app-menu>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="contenedorFormulario">

    <ion-toolbar color="primarioApp">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    

    <form [formGroup]="info" (ngSubmit)="actualizarInfoUser()">


      <ion-item color="primarioApp" class="border-abajo">
        <ion-label color="dark" position="floating">nombres</ion-label>
        <ion-input class="text-white" formControlName="names" value="{{ this.usuario.names }}"></ion-input>
      </ion-item>
  
  
      <ion-button class="animate__animated animate__pulse animate__fast mt-5 d-flex justify-content-center verde"
        expand="block" size="large" type="submit">
        <p class="p-0 m-0 animate__animated animate__bounceIn animate__fast tamaño-letra">Guardar</p>
      </ion-button>
  
    </form>
  
  </div>
  
</ion-content>