<ion-header>
  <ion-toolbar color="primary">
    <app-menu></app-menu>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div>
    <ion-grid class="p-0">
      <ion-row>
        <ion-col size="12" size-md="6" class="p-1 mx-auto" *ngFor="let item of [1]">
          <ion-row class="contenedor">

            <ion-toolbar color="primarioApp">
              <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
              </ion-buttons>
            </ion-toolbar>


            <ion-col size="12" class="text-center">
              <i class="fa-solid fa-file-invoice-dollar fa-5x mb-5"></i><br>
            </ion-col>


            <ion-col size="12">
              <h5 class="mt-1">Nombres: {{this.infoUser.id_user_res.names}}</h5>
              <h5>Telefono: {{this.infoUser.id_user_res.phone}}</h5>
              <h5>Placas: {{this.infoUser.id_vehicle.type_vehi.placa}}</h5>
              <h5>Marca: {{this.infoUser.id_vehicle.type_vehi.mark}}</h5>
              <h5>Modelo: {{this.infoUser.id_vehicle.type_vehi.model}}</h5>

              <h5 *ngIf="this.infoUser.status.global_status === false">
                Hora entrada: {{this.infoUser.status.on_park.moment |date:"short"}}
              </h5>

              <h5 *ngIf="this.infoUser.status.global_status === false">
                Hora salida: {{this.infoUser.status.end_park.moment |date:"short"}}
              </h5>

              <h5 *ngIf="this.infoUser.status.global_status === false">
                Valor: {{this.infoUser.parnet.totals}}
              </h5>
            </ion-col>

          </ion-row>

        </ion-col>


      </ion-row>
    </ion-grid>

  </div>


</ion-content>