<ion-header>
  <app-menu></app-menu>
</ion-header>

<ion-content color="segundarioApp">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="parqueadero" id="formulario">
          <ion-item color="segundarioApp" class="border-abajo px-5 mb-2">
            <ion-label position="floating">Seleccione un parqueadero...</ion-label>
            <ion-select #p interface="popover" formControlName="id_parqueadero" (ionChange)="buscarReservas(p.value)">
              <ion-select-option *ngFor="let parqueadero of this.parqueaderos" class="option"
                value="{{parqueadero.id}}">{{parqueadero.direccion}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="p-1 text-white" *ngIf="ya">
      <ion-col size="12" size-md="5" class="mx-auto mb-2 animate__animated animate__zoomIn animate__faste"
        id="contenedor-card" *ngFor="let reserva of reservas; let i = index">

        <ion-row>
          <ion-col size="12" class="text-center">
            <i class="fas fa-car fa-3x "></i><br>
            {{reserva.id_vehicle.type_vehi.placa}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="reserva.status.on_route" class="px-1 mt-2 mb-2">
          <ion-col size="12" id="estado">
            Viene en camino
          </ion-col>
        </ion-row>

        <ion-row *ngIf="reserva.status.on_cancel" class="px-1 mt-2 mb-2">
          <ion-col size="12" id="estado">
            Cancelado
          </ion-col>
        </ion-row>

        <!-- <ion-row *ngIf="reserva.status.on_park.status" class="px-1 mt-2 mb-2">
          <ion-col size="12" id="estado">
            Estacionado
          </ion-col>
        </ion-row> -->

        <ion-row *ngIf="reserva.status.global_status === false && reserva.status.on_cancel === false "
          class="px-1 mt-2 mb-2">
          <ion-col size="12" id="estado">
            Ya se fue
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="6">

            <ion-button *ngIf="reserva.status.on_route === true" class="verde" expand="full"
              (click)="cambiarEstadoReserva(reserva._id, 1)"> Ya Llego
            </ion-button>

            <ion-button *ngIf="reserva.status.on_route === false" disabled="true" class="verde" expand="full"> Ya Llego
            </ion-button>


          </ion-col>

          <ion-col size="6">
            <ion-button *ngIf="reserva.status.on_route === true && reserva.status.global_status === true"
              disabled="true" class="rojo" expand="full">cobrar</ion-button>
            <ion-button *ngIf="reserva.status.on_route === false && reserva.status.global_status === false"
              disabled="true" class="rojo" expand="full">cobrar</ion-button>
            <ion-button *ngIf="reserva.status.on_route === false && reserva.status.global_status === true" class="rojo"
              expand="full" (click)="cobrar(reserva._id, reserva.id_park, 2)">cobrar</ion-button>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button color="celeste2" routerLink="/agregar-foto" expand="full" disabled="reserva.status.on_route">
              Agregar fotos</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button color="celeste" [routerLink]="[ '/ver-mas', reserva._id ]" expand="full">Ver mas</ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>