
#contenedor-card{
    
    background-color: #050b18;
    border-radius: 13px;
    padding: 30px;
}

#estado{
    border: 2px solid white;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
}

#contenedor-btn-buscar{

    display: flex;
    align-items: center;
    align-content: center;
}
