<app-menu></app-menu>

<ion-content>
    <ion-grid id="grid-contenedor" class="heightConteiner centrar-contenedores referenciaPosicion" *ngIf="id_parqueadero === true">

        <ion-row class="width100 centrarVertText mb-5 text-white">

            <ion-col size=12 size-sm="4" class="p-3 centrar-contenedores animate__animated animate__fadeInLeft">
                <img src="../../../assets/parqueadero.jpg" width="100%" />
            </ion-col>

            <ion-col size=12 size-sm="4" class="p-2 animate__animated animate__fadeInRight">

                <p class="fs-4">Dueño
                <p class="fs-5 mb-4">{{this.duenopar}}</p>

                <p class="fs-4">Horario</p>
                <p class="fs-5 mb-4"></p>

                <p class="fs-4">Direccion</p>
                <p class="fs-5 mb-4">{{this.infoparqueadero.address}}</p>

                <p class="fs-4">Seguridad</p>
                <div>
                    <p class="fs-5 mb-4 d-inline" *ngIf="this.infoparqueadero.type_security.cams === true">Camaras </p>
                    <p class="fs-5 mb-4 d-inline" *ngIf="this.infoparqueadero.type_security.vigilant === true">Vigilante</p>
                </div>
                <br>

            </ion-col>

            <ion-col size=12 size-sm="4" class="p-2 animate__animated animate__fadeInRight">

                <p class="fs-4">Parqueadero para</p>
                <div>
                    <p class="fs-5 mb-4 d-inline" *ngFor="let tipo of this.infoparqueadero.type_parks">{{tipo + " "}}</p>
                </div>
                <br>

                <p class="fs-4">Espacio</p>
                <p class="fs-5 mb-4"></p>

                <p class="fs-4">Descripcion</p>
                <p class="fs-5 mb-4">{{this.infoparqueadero.descript}}</p>

                <p class="fs-4">Precio hora</p>
                <p class="fs-5 mb-4">${{this.infoparqueadero.price}}</p>

                <p class="fs-4"></p>
                <p class="fs-5 mb-4"></p>

            </ion-col>

        </ion-row>

        <ion-button expand="full" size="large" class="animate__animated animate__pulse animate__fast btnReservar verde" (click)="cambiarEstado()" [ngClass]="{'rojo': estado}">
            <p class="animate__animated animate__bounceIn animate__fas">{{estado == false ? 'Reservar' : 'Cancelar' }}</p>
        </ion-button>

    </ion-grid>

    <h1 *ngIf="id_parqueadero === false" class="text-white">dasdasd</h1>

</ion-content>