.border-abajo{
    border-bottom: 2px solid white;
    color: #ffffff;
}

#contenedor{
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
    padding: 10%;

}

#select{
    width: 100%;
}