<ion-header>
  <ion-toolbar>
    <app-menu></app-menu>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="contenedor"> 
    
    <div id="contenedorFormulario">

      <form>
        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Documento</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>

        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Horario</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>

        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Dirección</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>

        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Seguridad</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>

        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Tipo de vehiculos</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>

        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Espacio</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>
        
        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Descripción</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>
        
        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Precio/hora</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>
        
        <div class="linea"></div>

        <ion-item color="primarioApp" class="border-abajo">
          <ion-label color="dark" position="floating">Cupos</ion-label>
          <ion-input class="text-white"></ion-input>
        </ion-item>
        
        <div class="linea"></div>

        <ion-button class="mt-5 d-flex justify-content-center animate__animated animate__pulse animate__fast"
          color="success" type="submit">
          <p class="p-0 m-0 animate__animated animate__bounceIn animate__fast tamaño-letra">Continuar</p>
        </ion-button>
      </form>

    </div>
  </div>
</ion-content>