.tamaño-letra{
    font-size: 1rem;
}

ion-card-content{
  position: relative;
  justify-content: center;
  align-content: center;
}

  .card{
margin-top: 300px;
    position:absolute;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: #ffffff67 solid 1px;
}

ion-textarea{
 height: 400px; 
}

.border-abajo{
    border-bottom: #ffffff81 solid 1px;
}
  

@media (max-width: 600px)
  {
    .card{
          width: 90%;
      }
  }