<ion-header>
  <ion-toolbar>
    <app-menu></app-menu>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div>
    <ion-grid class="p-0">
      <ion-row>

        <ion-col size="12" size-md="6" class="p-1" *ngFor="let item of [1,1]">
          <ion-row class="contenedor-parqueadero">
            <ion-col size="6" class="pe-3">
              <img id="img-parqueadero" src="../../../assets/parqueadero.jpg" alt="">
            </ion-col>
            <ion-col size="6">
              <h2>Crr 9 #9-23</h2> <br>
              <div id="disponibilidad">
                No disponible
              </div>
              <ion-button class="mt-3" color="celeste" expand="block">
                Ver mas
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-tab-button class="fixed-bottom btn-infoModal animate__animated animate__bounce bg-agregar" (click)="presentModal()">
      <i class="fas fa-plus fa-3x"></i>
  </ion-tab-button>

  </div>


</ion-content>